* {
  color: #00cc00;;
  font-family: 'Source Code Pro', monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
}

.scoreboard {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  gap: 20px;
}

.playerScoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.computerScoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
